/*
 * Load up our animations.
 */

// Our (webkit) left rotations for the timer.
@-webkit-keyframes rotateLeftMask {
	0%   { -webkit-transform: rotate(0deg);   }
	50%  { -webkit-transform: rotate(0deg);   }
	100% { -webkit-transform: rotate(180deg); }
}

// Our left rotations for the timer.
@keyframes rotateLeftMask {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform:   rotate(0deg);
		-ms-transform:  rotate(0deg);
		transform:      rotate(0deg);
	}
	50% {
		-moz-transform: rotate(0deg);
		-o-transform:   rotate(0deg);
		-ms-transform:  rotate(0deg);
		transform:      rotate(0deg);
	}
	100% {
		-moz-transform: rotate(180deg);
		-o-transform:   rotate(180deg);
		-ms-transform:  rotate(180deg);
		transform:      rotate(180deg);
	}
}

// Our (webkit) right rotations for the timer.
@-webkit-keyframes rotateRightMask {
	0%   { -webkit-transform: rotate(0deg);   }
	50%  { -webkit-transform: rotate(180deg); visibility: hidden; }
	100% { -webkit-transform: rotate(180deg); visibility: hidden; }
}

// Our right rotations for the timer.
@keyframes rotateRightMask {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform:   rotate(0deg);
		-ms-transform:  rotate(0deg);
		transform:      rotate(0deg);
	}
	50% {
		-moz-transform: rotate(180deg);
		-o-transform:   rotate(180deg);
		-ms-transform:  rotate(180deg);
		transform:      rotate(180deg);
		visibility:     hidden;
	}
	100% {
		-moz-transform: rotate(180deg);
		-o-transform:   rotate(180deg);
		-ms-transform:  rotate(180deg);
		transform:      rotate(180deg);
		visibility:     hidden;
	}
}

// The (webkit) pulsing on the timer.
@-webkit-keyframes pulseTimer {
	0%   { -webkit-box-shadow: 0 0 0 0    rgba($timer_color_soon, 0.4); }
	70%  { -webkit-box-shadow: 0 0 0 10px rgba($timer_color_soon, 0);   }
	100% { -webkit-box-shadow: 0 0 0 0    rgba($timer_color_soon, 0);   }
}

// The pulsing on the timer.
@keyframes pulseTimer {
	0% {
		-moz-box-shadow: 0 0 0 0    rgba($timer_color_soon, 0.4);
		box-shadow:      0 0 0 0    rgba($timer_color_soon, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba($timer_color_soon, 0);
		box-shadow:      0 0 0 10px rgba($timer_color_soon, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0    rgba($timer_color_soon, 0);
		box-shadow:      0 0 0 0    rgba($timer_color_soon, 0);
	}
}
